---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		id: number;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage, id },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={heroImage}/>
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid var(--separator-colour);
				margin: 1rem 0;
			}
		</style>
		<script
			src="https://giscus.app/client.js"
			data-repo="stationarystation/blog"
			data-repo-id="R_kgDOId3yXA"
			data-category="Comments"
			data-category-id="DIC_kwDOId3yXM4CTOQs"
			data-mapping="title"
			data-strict="1"
			data-reactions-enabled="1"
			data-emit-metadata="0"
			data-input-position="top"
			data-theme="transparent_dark"
			data-lang="en"
			data-loading="lazy"
			crossorigin="anonymous"
			async
		></script>
	</head>

	<body>
		<Header />
		<main>
			<article>
				{
					heroImage && (
						<img width={720} height={360} src={heroImage} alt="" />
					)
				}
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{
					updatedDate && (
						<div>
							Last updated on <time>{updatedDate}</time>
						</div>
					)
				}
				<hr />
				<slot />
			</article>
			<hr/>
			<h1> The Comment Section</h1>
			<div class="giscus" />	
		</main>
		<Footer />
	</body>
</html>
