---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
    id: number;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage, id},
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
		</style>
    <script async defer src="https://cusdis.com/js/cusdis.es.js"/>
	</head>

	<body>
		<Header />
		<main>
			<article>
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{
					updatedDate && (
						<div>
							Last updated on <time>{updatedDate}</time>
						</div>
					)
				}
				<hr />
				<slot />
			</article>
      <div id="cusdis_thread" data-host="https://cusdis.com" data-app-id="0d7c2fd5-a461-4656-bb80-707e13b99e14" data-page-id={id} data-page-url={import.meta.env.SITE} data-page-title={title} data-theme="dark"></div>
		</main>
		<Footer />
	</body>
</html>
